{% extends 'base.html' %} 

{% block head %}

<title>Home</title>

{% endblock %} 

{% block body %}

<h1>Home Page</h1>

<hr>

<div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome To File Report Generation (By Taresh)</h1>
        <p>You can upload new file and Get to know the details related to that particular file or check the details of already uploaded files </p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button" >Post your blogs Here</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
