{% extends 'base.html' %} 

{% block head %}
<title>New Post</title>
{% endblock %} 

{% block body %}
<h1>New Post</h1>
<hr>

<h2>Add Your Blog Posts</h2>
<form action="/posts" method='POST'>
    <label for="title">Title</label>
    <input class="form-control" type="text" name='title' id=title placeholder="Enter the Title" aria-label="Enter the Title">
    <br>
    <label for="content">Post</label>
    <textarea class="form-control" name='content' id="content" rows="3" placeholder="Post Here" aria-label="Post Here"></textarea>
    <br>
    <label for="author">Author</label>
    <input class="form-control" type="text" name='author' id=author placeholder="Mention Your Name Here" aria-label="Mention Your Name Here">
    <br>
    <input type="submit" value="Post">
</form>
<hr>

<hr>
{% endblock %}

